/* Mobile style */

h1 {
    margin: 1.5em;
    font-size: 2rem;
}

.image {
    width: 20em;
    height: 13em;
    margin: auto; 
}

.todo-link {
    color: rgb(2, 111, 201);
    font-size: 1rem;
    font-weight: bolder;
    margin-top: 2em;
    padding: 0.5em;
    text-decoration: none;
    background-color: rgb(164, 200, 229);
}

.todo-link:hover {
    color: #053df5;
}

.home-page {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

body[data-theme="dark"] .todo-link {
    color: #00d9ff; 
    background-color: rgb(123, 123, 123);
}

body[data-theme="dark"] h1 {
    color: #00d9ff; 
}

/* Tablet style */
@media (min-width: 400px) and (max-width: 1300px) {
    .image {
        width: 45em;
        height: 30em;
    }

    .todo-link {
        color: rgb(2, 111, 201);
        font-size: 2rem;
        font-weight: bolder;
        margin: 2em 3.7em;
    }

    h1 {
        font-size: 3rem;
    }
}

/* Desktop style */
@media (min-width: 1200px) {
    .image {
        width: 60em;
        height: 40em;
    }

    h1 {
        font-size: 3rem;
    }
    
    .todo-link {
        color: rgb(2, 111, 201);
        font-size: 2rem;
        font-weight: bolder;
    }
}


