/* Mobile style */

.form {
    display: flex;
    flex-direction: row;
}

.submit_button {  
    color: #434242;
    text-align: center;
    border: none;
    border-radius: 3px;
    padding: 0.5em;
    font-size: 0.8rem;
    margin: 1em 0 0 0.5em;
    max-height: fit-content;
    width: 4em;
  }

  .submit_button:hover {
    background-color: #9b9999;
    color: white;
  }

/* Tablet style */
@media (min-width: 600px) and (max-width: 1200px) {
}


/* Desktop style */
@media (min-width: 1200px) {
}