/* Mobile style */

.newTodo {
    color: rgb(65, 64, 64);
    background-color: #f6f4f4;
    margin: auto;
    text-align: left;
    min-width: 50%;
    position: relative;
    padding: .4em .4em .4em 1em;
    border-radius: .3em;
    font-size: 1rem;
    border: none;
}

/* Tablet style */
@media (min-width: 600px) and (max-width: 1200px) {
    .newTodo {
        width: 60%;
    }
}


/* Desktop style */
@media (min-width: 1200px) {
    .newTodo {
        width: 60%;
    }
}