.home-link {
  cursor: pointer;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem; /* Adjust icon size */
  transition: transform 0.2s ease-in-out;
  margin-bottom: 1em;
  color: #0c9bd3;
}

.home-link:hover {
    color: #053df5;
    transform: scale(1.1);
}

.sorting-button {
    margin-top: 2em;
    background: none;
    border: 2px solid rgb(78, 79, 80);
    border-radius: 3px;
    cursor: pointer;
    font-size: 24px; /* Adjust icon size */
    transition: transform 0.2s ease-in-out;
}

/* Add hover effect */
button:hover {
  transform: scale(1.1);
}

body[data-theme="dark"] .sorting-button {
    color: #ffd700; /* Yellow icon in dark mode */
}