.home-link {
  cursor: pointer;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem; /* Adjust icon size */
  transition: transform 0.2s ease-in-out;
  margin-bottom: 1em;
  color: #0c9bd3;
}

.home-link:hover {
    color: #053df5;
}